#ptolemy canvas {
	position: absolute;
	margin-right: auto;
	margin-left: auto;
	left: 0;
	right: 0;
}

#ptolemy #buttondiv {
	text-align: center;
	position: relative;
}

#ptolemy #buttondiv button {
	margin: 0 2px;
}

#ptolemy #explanation {
	position: relative;
}

